body {
  background-image: url('./images/starwars.jpg');
  color: yellow;
  text-align: center;
}

.filter-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

select {
  margin: 5px 10px;
}

input {
  margin: 5px 10px;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px 10px;
  padding: 5px;
}

.li-container {
  align-items: center;
  display: flex;
}

.li-container, p {
  margin: 10px;
}

.table-unit {
  border: 1px solid gray;
  padding: 5px 20px;
}
